nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #131921;
    padding: 10px 10px;
    color: #ffffff;  
    white-space: nowrap;
    position: relative;
    z-index: 999;
  }
  .nav-country {
    display: flex;
    align-items: flex-end;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;
  }
  
  .nav-country h1 {
    color: #fff;
    font-size: 14px;
  }
  .nav-search {
    flex: 1;
    display: flex;
    align-items: center;
    background: #fff;
    color: gray;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 17px;
  }
  
  .nav-search-gategory {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background: #d7d7d7;
    border-radius: 4px 0px 0px 4px;
  }
  
  .nav-search-input {
    border: none;
    outline: none;
    padding-left: 20px;
    width: 100%;
  }
  
  .nav-search-icon {
    max-width: 41px;
    padding: 8px;
    background: #c8c8c8d2;
    border-radius: 0px 4px 4px 0px;
  }
  .nav-language {
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 600;
    margin-left: 15px;
  }

  .nav-text {
    margin-left: 15px;
  }
  .nav-text p {
    font-size: 10px;
  }
  
  .nav-text h1 {
    font-size: 14px;
  }
  .order-an-return-btn{
    margin-left: 15px;
  }
  .order-an-return-btn p{
    font-size: 10px;
  }
  
  .order-an-return-btn h1{
    font-size: 14px;
  }
  
  
  /* Shopping Cart */
  .nav-cart {
    display: flex;
    align-items: center;
    margin: 0px 15px;
  }

  @media (max-width: 569px) and (min-width: 10px){
    nav{
        display: none;
    }
  }