body{
  background: #ffffff;
 
}
.breadcrum{
  padding: 10px 20px;
  font-size: 12px;
  color: #565656;
}
.product-display{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 20px;
}
.product-d-image{
  display: flex;
  gap: 10px;
}
.product-icons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-icon-img{
  border: 1px solid rgb(176, 176, 176);
  border-radius: 10px;
  padding: 5px;
  width: 45px;
}
.product-main-image-d{
  width: 100%;
}
.main-product-image{
  border-radius: 10px;
  width: 100%;
}

.product-d-details{
  margin: 0 30px;
}
.product-title{
  font-size: 25px;
  min-width: 600px;
}

.product-rating-info{
  display: flex;
  gap: 10px;
  margin-top: 5px;
}
.rating-image{
  width: 100px;
}
.product-rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.rating-score {
  color: #007185 ;
}
.product-sold-count {
  font-size: 15px; 
  color: gray; 
}

.rating-star-icon{
  height: 20px;
}
.product-sold-count{
  color: #007185 ;
}
.product-d-price{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product-price{
  font-size: 14px;
  font-weight: 500;
}
.product-price span{
  font-size: 26px;
  font-weight: 500;
}

.product-d-price div{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
}

.main-list-price{
  color: #565656;
  font-weight: 900;
}
.main-list-price span{
  text-decoration: line-through;
}
.shipping-info span{
  color: #007185;
}

.product-color-selection{
  margin: 15px 0;
}
.product-current-color{

}
.product-color-options{
  display: flex;
  margin-top: 10px;
}
.option{
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 4px;
  padding-left: 3px;
  border: 1px solid #cbcbcb;
  gap: 10px;
  margin-right: 10px;
  border-radius: 7px;
}
.option-price{
  font-size: 9px;
  white-space: nowrap;
}
.option-price span{
  font-weight: 600;
  font-size: 12px;
}
.option-image {
  width: 24px; 
  height: auto;
}


.product-brand-info{
  display:flex;
  gap: 10px;
  margin-bottom: 15px;
}

.about-this-item{
  font-size: 20px;
  margin: 15px 0;
}
.product-description ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
}
.product-d-purchase {
  width: 100%;
  max-width: 280px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  padding: 20px;
}

.title-to-buy-from {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.product-d-purchase .price {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;

}

.product-d-purchase .price span {
  font-size: 26px;
  padding: 2px;
}

.product-d-purchase .gap {
  margin: 15px 0; 
}

.product-d-purchase p span{
  color: #007185 ; 
  
}
.delivery-location{
  display: flex;
  align-items: center;
  gap: 3px;
}

.delivery-location span{
  font-size: 13px;
}

.product-stock{
  margin: 15px 0;
  color: green;
  font-weight: 400;
}
.product-quantity{
  padding: 8px 5px;
  outline: none;
  width: 100%;
  border-radius: 5px;
  background: #efefef;
  border-color: #c1c1c1;
}
.product-d-purchase .btn{
  outline: none;
  border: none;
  background: #ffd814;
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 50px;
  cursor: pointer;
}
.product-d-purchase .product-buy{
  background: #ffa41c;
}
.product-seller-info{
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 4px;
  font-size: 14px;
  color: #565656;
}
.product-seller-info p{
  font-size: 12px;
}
.product-seller-info span{
  color: #007185;
  font-size: 12px;
}
.product-d-purchase hr{
  margin: 20px 0;
}
.product-add-list{
  width: 100%;
  padding: 8px 15px;
  border: 1px solid #000;
  text-align: start;
  background: white;
  cursor: pointer;
}

.product-footer{
  margin-top: 100px;
}

/*--------------- media query------------*/

@media only screen and (max-width: 900px) {


}

@media only screen and (max-width: 600px) {
  .product-icons {
    display: none;
  }
  
  .product-main-image-d{
    padding: 0;
  }
  .main-product-image{
    padding:10px;
  }

  .product-main-image-d {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }
  
  .main-product-image {
    width: 100%; 
    height: auto; 
    padding: 0;
    padding-left: 0;
    margin-left: 0;
  }

  .product-display {
    display: flex; 
    flex-direction: column;
    padding-left: 3px;
  }
  .product-display{
    
    padding: 10px 10px;
  }

  .product-title {
    font-size: 25px;
    min-width: 400px;
    /* Ensure it's a block-level element */
  }
  
  .product-d-purchase {
    max-width: 90%;
    margin: 20px auto;
    
  }
  .rating-image{
    width: 70px;
  }
}
